html, body {
  margin: 0;
}

#sprintHolder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sprint {
  width: 10px;
  height: 10px;

  position: absolute;

  background-color: rgb( 80, 80, 80 );
}